#mvp {
  @import url(https://fonts.googleapis.com/css?family=Lato);
  * {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  
  .primary-header {
    font-family: 'Lato', 'sans-serif';
    font-size: 50pt;
    text-align: center;
    overflow: hidden;
    font-weight: lighter;
    letter-spacing: .5px;
    line-height: 44px;    
    margin:0;
    border-bottom:#AFC2D5;
  }

  
  #title:hover span {
    display:none;
  }
  #title:hover:before {
    content: '🙏';

  }
  
  .left-box {
    display: inline-flex;
    float: left;
    font-size: 15pt;
  }

  .right-box {
    display: inline-flex;
    float: right;
    font-size:15pt;
  }

  .search {
    padding-left:50px;
  }

  .register {
    padding-right:50px;
  }

  .row {
    display:inline-flex;
    margin:20px;
  }

  .container {
    // background-color:#AFC2D5;
    padding: 50px;
    height: 50px;
    margin: 0 auto;
  }

  .group:before,
  .group:after {
    content: "";
    display: table;
  }

  .group {
    clear: both;
    // *zoom: 1;
  }
  .card-title {
    font-size:8pt
  }
  .display-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
  }
  .card-body {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 13px;
  }
  .charity-card {
      margin-left: 10px;
      margin-bottom: 10px;
      // max-width: 300px;
      width: 360px;
  }
  .card-deck .card {
    margin-bottom: 15px;
  }

  .charity-card.card {
      height: 450px;
  }

  .card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
  }

  .card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
  }

  .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }

  .card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #true {
    display: none !important;
  }
}



