#mvp {
  @import url(https://fonts.googleapis.com/css?family=Lato);
  * {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  
  .primary-header {
    font-family: 'Lato', 'sans-serif';
    font-size: 50pt;
    text-align: center;
    overflow: hidden;
    font-weight: lighter;
    letter-spacing: .5px;
    line-height: 44px;    
    margin:0;
    border-bottom:#AFC2D5;
  }


  .left-box {
    display: inline-flex;
    float: left;
    font-size: 15pt;
  }

  .right-box {
    display: inline-flex;
    float: right;
    font-size:15pt;
  }

  .search {
    padding-left:100px;
  }

  .register {
    padding-right:100px;
  }

  .row {
    display:inline-flex;
    margin:20px;
  }

  .container {
    // background-color:#AFC2D5;
    padding: 50px;
    height: 50px;
    margin: 0 auto;
  }

  .group:before,
  .group:after {
    content: "";
    display: table;
  }

  .group {
    clear: both;
    // *zoom: 1;
  }

  // .flex-row {
  //   -webkit-box-orient: horizontal!important;
  //   -webkit-box-direction: normal!important;
  //   -ms-flex-direction: row!important;
  //   flex-direction: row!important;
  // }
  .card-title {
    font-size:8pt
  }
  .d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
  }
  .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 13px;
}
  .charity-card {
    margin-left: 10px;
    margin-bottom: 10px;
    // max-width: 300px;
    width: 340px;
}
.card-deck .card {
  margin-bottom: 15px;
}

// .charity-card {
//   margin-left: 10px;
//   margin-bottom: 10px;
//   max-width: 300px;
//   width: 300px;
// }

.charity-card.card {
    height: 450px;
}

.card-footer-badge {
    font-size: 1rem;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// .sliding-menu {
//   position: absolute;
//   top: 0px;
//   left: -240px;
//   display: flex;
//   flex-flow: column nowrap;
//   width: 240px;
//   height: 100vh;
//   padding: 8px;
//   background-color: #000000;
//   color: #FFFFFF;
//   font-size: 1.5em;
//   button {
//     background-color: #000000;
//     display: inline-block;
//     border: none;
//     text-align: left;
//   }
// }

// .main-container {
//   position: relative;
//   width: 100%;
//   height: 50px;
//   background-color: #000000;
//   button {
//     position: relative;
//     top: 50%;
//     transform: translate(0%, -50%);
//     background-color: #000000;
//     color: #FFFFFF;
//     border: 1px solid #FFFFFF;
//   }
// }

// .card-deck {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
// }
  
}


// .inline {
//   display: inline-flex;
// }

// .primary-nav {
//   font-size: 14px;
//   font-weight: 400;
//   letter-spacing: .5px;
//   text-transform: uppercase;
// }

// .nav {
//   text-align: left;
// }
// .nav li {
//   display: inline-block;
//   margin: 0 10px;
//   vertical-align: top;
// }
// .nav li:last-child {
//   margin-right: 0;
// }

// body, html {
//   overflow-x: hidden;
// }

// .app-header {
//   display:block;
//   padding: 30px;
// }

// .app-title {
//   // display:inline-block;
//   width: 100%;
//   margin: 80px 0 0 0;
//   float:left;
//   position:relative;
//   color:#fff;
  
//   @media(min-width:768px) {
//     width: 20%;
//     margin: 280px 0 0 0;
//   }
  
//   h1 {
//     font-size: 52px;
//     margin: 0;
//   }
  
//   p {
//     font-weight: 200;
//     opacity: .5;
//   }
  
// }

// .app-title-content {
//   position:relative;
//   top:50%;
//   left: 50%;
//   width:100%;
//   text-align:center;
//   transform:translate(-50%, -50%);
  
//   @media(min-width:768px) {
//     width:auto;
//     position:absolute;
//     text-align:left;
//   }
// }

// .app-card-list {
//   // display:inline-block;
//   width:50%;
//   // height:10px;
//   float:right;
//   margin:0;
//   min-height: 75vh;
//   white-space:normal;
//   overflow-x: scroll;
//   margin-top:-70px;
  
//   // &::-webkit-scrollbar { 
//   //   display: none; 
//   // }
  
//   @media(min-width:768px) {
//       width:80%;
//       white-space:nowrap;
//       margin-top: 0;
//   }
  
//   .card {
//     margin: 100px 200px;
//     // display: inline-block;
    
//     .card-body {
//         white-space: normal;
//     }
//   }
// }
